@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0px;
    font-family: "Orbitron", sans-serif;
    border: 0px;
}

body {
    background-image: url('img/FondoPantalla.png');
    /*   background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #070707;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;

}

header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    height: 40px;
    justify-content: space-between;

}

header .logo {
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 20px;
    border-radius: 5px;
}

header .logo:hover {
    color: aliceblue;
    background-color: rgb(27, 24, 24);
    transition: 2s;
}

header .navbar {
    display: flex;
    margin-left: 40px;
}

header .navbar span {
    list-style: none;
    margin: 10px;
}

header .navbar span a {
    text-decoration: none;
    color: rgb(42, 37, 37);
    padding: 10px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

header .navbar span a:hover {
    border-bottom: 2px solid rgb(3, 3, 3);
    padding: 2px;
    transition: 0.5s;

}

.contenido {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 100px;
    justify-content: center;
    box-sizing: border-box;
}

.contenidoPortfolio {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 100px;
    justify-content: flex-start;
    box-sizing: border-box;

}

.pictures {
    margin-top: 25px;
}

.contenido .tituloBox {

    padding: 8px;
}

.contenido .tituloBox h1 {
    font-size: 3em;
}

.contenido .tituloBox h2 {
    font-size: 2em;
}

.contenido .tituloBox p {
    font-size: 1em;
}

.contenido .tituloBox a {
    background-color: rgba(28, 122, 153, 0.355);
    font-size: 1em;
    border-radius: 3px;
}

.contenido .tituloBox a:hover {
    transition: 1s;
    color: white;
    background-color: rgb(50, 40, 40);
}

.copyright {
    position: absolute;
    bottom: 20px;
    font-size: 0.75em;
}

.redesSociales {

    list-style: none;
    bottom: 10px;
    right: 30px;
    justify-content: space-between;
    display: flex;
    position: absolute;
}

.redesSociales li {
    padding: 10px;
}

.redesSociales li a {
    font-size: 2.5em;
    color: white;
}

.listado {
    top: 10em;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    max-width: 500px;
}

.listado h1 {
    text-decoration: underline;
}

.listado a {
    color: rgb(34, 255, 0);
}

.project h1,
h2,
h3 {
    margin-top: 25px;
}

.project h6 {
    margin-top: 1px;
    margin-bottom: 10px;
    color: #070707;
    /* Color de texto más suave */
    font-style: italic;
    /* Estilo de letra cursiva para diferenciar el pie de imagen */
    text-align: left;
    /* Alinea el texto al centro */
    font-size: 0.5em;
}

.project li {
    margin-top: 5px;
}

.project {
    margin-top: 50px;
}

@media only screen and (max-width: 500px) {
    .contenido {
        padding-left: 20px;

    }

    /*   .listado {
        margin-left: 20px;

    } */
    header .navbar {
        padding-left: 5px;
    }

    .navbar span a {
        padding-left: 0px;
    }

    .pictures {
        margin-top: 25px;
        width: 320px;
        display: flex;
        flex-direction: column;
    }

}